In [1]:
a = 10
if a ==10:
    print("True")
else:
    print("False")

True

In [2]:
a = 10
if a>5:
    pass

In [3]:
a = 10 
if a <8:
    print("this is my first condition")
else:
    print("false statment")

false statment

In [4]:
    a = 10
    if a!=10:
        print("my condition is false")
    else:
        print("this is")

this is

In [5]:
a = 10
if a == 12:
    print("here we are trying to compare 10 with 12")
elif a == 10:
    print("comparing 10 with 11")
else:
    print("if all the block will fail then do this")

comparing 10 with 11

In [6]:
price = 500
if price > 500:
    print("may b i wont able to buy a jacket")
elif price < 500 :
    print("i will be able to buy a jacket")
elif price ==500:
    print("for sure i will be able to buy")
else:
    print("i dont knwo")

for sure i will be able to buy

In [7]:
price >500

False

In [8]:
l = [1,2,3,4,5,6]
2 in l

True

In [9]:
if 60 in l:
    print("try to perform a task")
else:
    print("do not perform the task")

do not perform the task

In [10]:
l

[1, 2, 3, 4, 5, 6]

In [11]:
if 10 in l:
    print("try to do addition")
elif 2 in l:
    print("try to do sub")
elif 3 in 1:
    print("try to do mul")
if 4 in l:
    print("this is a new statment")

try to do sub
this is a new statment

In [12]:
a = 400

In [ ]:
b = int(input())

In [ ]:
type(b)

In [ ]:
price = int(input())
if price < 500:
    print("able to buy something")
    if price <400:
        print("i will be able to buy a jacket")
    elif price <300:
        print(" i will be able to buy a shirt")
    else:
        print("i won't be able to buy anyhthing")
else:
    print("i wont be able to buy anything with this price tag")
    if price > 500:
        print("let's try something else")

In [ ]:
marks  = 300
if marks> 600:
    print("eligbile for GRE")
elif marks < 500:
    print("No GRE")
    if marks<500:
        print("you are elible for toffel")
    elif marks < 400:
        print(" try something else")

In [ ]:
val = float(input("enter a floating point number ="))
if val >=0:
    if val ==0:
        print("entered value is zero")
    else :
        print("entered value is positive number")
else:
    print("entered number is -ve number")

In [22]:
a = 10
if a == 10 and a >=10:
    print("try to do something")

try to do something

In [23]:
a = 10
b =11
c = 12
d = 13
if a ==9 or b ==11 and c ==12 and d ==13:
    print("do something")

do something

In [26]:
d = {"key" : "value", "key2": "sudh", "key3": "iNeron"}

In [28]:
if d['key']=="value" and d['key2']=="sudh" and d["key3"]=="iNeron":
    print("all value are varified")
    print(d.values())
else:
    print("all values are not varified")

all value are varified
dict_values(['value', 'sudh', 'iNeron'])

In [29]:
l = [1,2,3,4,5,"sudh", 234.45]

In [32]:
l[1]

2

In [33]:
l[2:5]

[3, 4, 5]

In [38]:
for i in l:
    
    print(i)

1
2
3
4
5
sudh
234.45